<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CAV"
        tools:targetApi="31">
        <activity
            android:name=".MytoursActivity"
            android:exported="false" />
        <activity
            android:name=".MethodPaidActivity"
            android:exported="false" />
        <activity
            android:name=".TemporallyExpoActivity"
            android:exported="false" />
        <activity
            android:name=".PermanentExpoActivity"
            android:exported="false" />
        <activity
            android:name=".DetailsGuideActivity"
            android:exported="false" />
        <activity
            android:name=".details_museum_activity"
            android:exported="false" />
        <activity
            android:name=".PrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>